mixin makeCard(image, name, content, link)
    div.card
        div.card-image
            figure.image.is-1by1.m-2
                img(src= image)
        div.card-content
            div.media
                div.media-content
                    h1.title.is-4= name
            div.content 
                p= content
                a.button.is-success.is-light(href= link)= "Visita il sito di " + name

mixin makeNews(image, title, content, link)
    .box: .columns
        .column.is-one-quarter
            figure.image.is-16by9 
                img(src= image)
        .column
            .title.is-5= title
            p.block= content
            a.button.is-fullwidth.is-success.is-light(href= link)= "Leggi la notizia"

mixin makeImg(image)
    .box.p-0
        img(src= image)


mixin makeNavbar(pages)
    div.container
            div.tabs.is-centered.is-toggle.is-toggle-rounded.is-success
                ul: each page in pages
                            if page.current == true
                                li.is-active: a(href= page.link)= page.name
                            else 
                                li: a(href= page.link)= page.name

mixin makeHeaderHome() 
    div.hero.is-success
        .hero-body
            .columns.is-vcentered
                .column 
                    h1.title Criptovalute 
                    h1.subtitle Un sito web per informarti dell'economia delle criptovalute
                .column 
                        +makeNavbar([{
                        name: "Home",
                        link: "/index.html",
                        current: true
                    }, {
                        name: "News", 
                        link: "/news.html",
                        current: false
                    }, {
                        name: "About",
                        link: "/about.html",
                        current: false }])
                .column 

mixin makeHeaderNews() 
    div.hero.is-success
        .hero-body
            .columns.is-vcentered
                .column 
                    h1.title Criptovalute 
                    h1.subtitle Un sito web per informarti dell'economia delle criptovalute
                .column 
                        +makeNavbar([{
                        name: "Home",
                        link: "/index.html",
                        current: false
                    }, {
                        name: "News", 
                        link: "/news.html",
                        current: true
                    }, {
                        name: "About",
                        link: "/about.html",
                        current: false }])
                .column.has-text-right
                    h1.title News
                    h1.subtitle Ricevi le ultime notizie per sapere come investire!

mixin makeHeaderAbout() 
    div.hero.is-success
        .hero-body
            .columns.is-vcentered
                .column 
                    h1.title Criptovalute 
                    h1.subtitle Un sito web per informarti dell'economia delle criptovalute
                .column 
                        +makeNavbar([{
                        name: "Home",
                        link: "/index.html",
                        current: false
                    }, {
                        name: "News", 
                        link: "/news.html",
                        current: false
                    }, {
                        name: "About",
                        link: "/about.html",
                        current: true }])
                .column.has-text-right
                    h1.title About
                    h1.subtitle Se vuoi saperne di più sulle criptovalute, questa pagina ti darà le informazioni che cerchi
